.footer-main {
  background: #ECECEC;
}

.footer-wrap {
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 8rem;
  padding-bottom: 9.6rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-end;

  @media all and (max-width:1600px) {
    max-width: 160rem;
  }
}

.footer-pic {
  width: 54.9rem;
  height: 81rem;
  position: absolute;
  left: 0;
  bottom: -1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer-company-name {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #161414;
  display: inline-block;
  margin-top: 1rem;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: .2rem;
    bottom: -.5rem;
    left: 0;
    right: 0;
    background: #D5D5D5;
  }

}

.footer-list-wrap {
  display: flex;
  max-width: 100rem;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.footer-list-item {
  max-width: 39.3rem;
  width: 100%;
  position: relative;
  margin-right: 2.2rem;
  margin-bottom: 4rem;


  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 2.4rem;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: -0.04em;
    color: rgba(22, 20, 20, 0.7);
  }

}

.footer-sub-link {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: center;
  margin-top: 3rem;

  &:after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: -1rem;
    left: -.6rem;
    right: -3.7rem;
    bottom: 1rem;
    content: '';
    border: .3rem solid #D66C87;
    border-radius: 900px/200px;
    transform: rotate(-7deg);
    text-transform: uppercase;
    color: #f04d22;
    height: 4.1rem;
    z-index: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  .arrow-svg {
    width: 1.75rem;
    height: .7rem;
    fill: #000000;
    stroke: #000000;
    margin-left: 1.2rem;
  }
}