.header-wrap {
  &__margin-content {
    padding-top: 3.2rem !important;
    padding-bottom: 3.2rem;
  }
}

.header-main {
  
}

.header-left {
  display: flex;
  align-items: center;

}

.header-logo-item {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.divide-header {
  position: relative;
  width: 1.55rem;

  &::before {
    position: absolute;
    content: '';
    width: 1.55rem;
    height: .1rem;
    background: #fff;
    top: 0;
    left: 0;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: '';
    width: 1.55rem;
    height: .1rem;
    background: #fff;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
}

.main-info {
  background: #1C1C1C;

  &__margin-phrase {
    padding-top: 7.2rem;
  }
}

.header-major {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  color: #F2F2F2;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 200%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  li {
    margin-right: 6.1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}