.input, .textarea {
	display: inline-block;
	height: 4rem;
	width: 100%;
	padding: 0 1rem;
	color: $color-text;
	background: $color-white;
	border: .1rem solid $color-gray;

	& + & {
		margin-top: 1rem;
	}

	&:hover {

	}

	&:focus {

	}

	&:disabled {
		opacity: .7;
		pointer-events: none;
	}

	&._error {
		input,
		textarea {

			&:hover {

			}

			&:focus {

			}
		}
	}
}
