.root {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.wrapper {
  max-width: 123rem;
  width: 100%;
  margin: auto;
}

body {
  cursor: url('/assets/img/cursor.svg'), auto;
  background: #f4f4f4;
}