@media all and(max-width:1920px) {
  .footer-list-wrap {
    max-width: 113rem;
    justify-content: space-between;
  }
}

@media all and(max-width:1480px) {
  .singer-profile:nth-child(2) {
    position: relative;
  }

  .footer-list-wrap {
    max-width: 95rem;
  }

  .singer-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 9.3rem;
  }

  .footer-pic {
    width: 41.9rem;
    height: 61rem;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
  }

  .singer-profile {
    margin-bottom: 9.3rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.singer-mobile {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .auction-main__margin-content {
    margin-top: 7.9rem;
    margin-bottom: 6.8rem;
  }

  .auction-wrap-string {
    font-size: 9.3rem;
  }
}

@media all and (max-width:1400px) {
  .modal-pic {
    width: 25.8rem;
    height: 90.4rem;
  }

  .modals-bet {
    max-width: 76.8rem;
  }

  .form-bet-wrap {
    padding-top: 9rem;
    padding-left: 5rem;
  }

  .form-headline {
    font-size: 4.5rem;
  }

  .bet-label {
    font-size: 1.4rem;
    padding: 1.3rem 2.4rem;
  }

  .input-bet {
    font-size: 1.4rem;
  }

  .modal-text {
    font-size: 1.4rem;
    max-width: 35.4rem;
  }

  .phone-modal {
    max-width: 27rem;
  }

  .form-bet__margin-phone {
    margin-top: 2rem;
  }

  .social-list {
    font-size: 1.8rem;
  }

  .social-svg {
    width: 3rem;
    height: 3rem;
  }

  .btn-sbmt {
    width: 27.6rem;
    height: 6rem;
    font-size: 1.4rem;
  }

  .form-bet__margin-btn {
    margin-top: 6.2rem;
  }

  .fancybox-close-small {
    width: 7rem;
    height: 7rem;
  }

  .fancybox-slide--html .fancybox-close-small {
    padding: 15px;
  }

  .social-link li {
    margin-right: 2.2rem;
  }
}

@media all and (max-width:1280px) {
  .main-phrase-item {
    font-size: 9.6rem;
    -webkit-text-stroke-width: 1px;
    line-height: 0;
  }

  .modal-success-wrap {
    padding-top: 21.5rem;
  }

  .success-text {
    margin-top: 6rem;
  }

  .success-text {
    font-size: 4.5rem;
  }

  .success-subtext {
    font-size: 1.4rem;
  }

  .success-subtext {
    margin-top: 3.7rem;
  }

  .modal-success-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main-info__margin-phrase {
    padding-top: 16.2rem;
  }

  .main-info {
    .about-singer {
      margin-top: 3rem;
    }
  }

  .header-wrap__margin-content {
    padding-top: 3rem;
  }

  .header-main {
    top: 8.8rem;
  }

  .footer-main {
    position: relative;
  }

  .footer-wrap {
    position: static;
    padding-top: 6.9rem;
    padding-bottom: 14.6rem;
  }

  .footer-pic {
    left: auto;
    right: 0;
    width: 34.9rem;
    height: 31rem;
  }

  .footer-list-wrap {
    display: flex;
    max-width: unset;
    width: 100%;
    margin: auto;
  }

  .footer-list-item {
    min-height: auto;
    margin-right: 1.5rem;
  }

  .footer-sub-link {
    position: relative;
    margin-top: 2.1rem;
    width: fit-content;
  }

  .about-video-item {
    max-width: 73rem;

  }

  .video-main__margin-content {
    margin-top: 4.7rem;
    padding-bottom: 27.6rem;
  }

  .link-btn {
    width: 16.3rem;
    height: 16.3rem;
  }

  .play-svg {
    width: 4.1rem;
    height: 4.1rem;
  }

  .about-text-wrap {
    min-height: 51.2rem;
    max-width: 64.2rem;
    line-height: 170%;
    padding-top: 4.8rem;
    padding-right: 0;
    padding-left: 5.8rem;
    display: block;
  }

  .video-headline {
    font-size: 9.6rem;
  }

  .sub-video-wrap {
    display: none;
  }

  .about-text-item {
    max-width: 50.3rem
  }

  .sub-phrase {
    font-size: 9.6rem;
    line-height: 0;
  }

  .sub-phrase p:after {
    left: -2.3rem;
    height: 11.5rem;
    right: -.8rem;
    border: .2rem solid #D66C87;
    top: -5rem;
  }

  .singer-pic {
    width: 39.2rem;
    height: 59.8rem;
  }

  .about-singer {
    margin-top: 1.9rem;

    .wrapper {
      max-width: unset;
      padding-left: 2rem;
    }
  }

  .main-phrase-wrap {
    &.wrapper {
      max-width: unset;
      padding-left: 2rem;
    }
  }

  .header-wrap__margin-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main-phrase-wrap__margin-content {
    margin-right: 2rem;
    margin-top: 11.5rem;
  }

  .pre-order-pic {
    width: 38.6rem;
    height: 38.6rem;
  }

  .about-singer__margin-content {
    padding-top: 1.8rem;
  }

  .pre-order-text {
    font-size: 7.9rem;
  }

  .pre-order-wrap__margin-content {
    margin-top: -4rem;
  }

  .pre-order-info {
    max-width: unset;
    padding-left: 2rem;
    padding-right: 3.2rem;
  }
}

@media all and (max-width:980px) {

  .about-singer-info h4,
  .about-singer-info h3,
  .about-singer-info h5 {
    font-size: 3.5rem;
  }

  .about-singer-info p,
  .about-singer-info span {
    margin-top: 1.7rem;
  }

  .about-singer-info {
    max-width: 36.5rem;
  }

  .singer-photo {
    width: 22.6rem;
    height: 31.6rem;
  }

  .singer-position {
    font-size: 1.8rem;
  }

  .singer-name {
    font-size: 2.4rem;
  }

  .about-singer {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .singer-profile__margin-content {
    margin-left: 2.5rem;
  }

  .singer-info {
    max-width: 29.3rem;
  }

  .singer-bet {
    font-size: 1.6rem;
    margin-top: 1.8rem;
  }

  .pic-background:before,
  .pic-background:after {
    display: none;
  }

  .about-video-item {
    top: 28.1rem;
  }

  .footer-list-item {
    max-width: 32.3rem;
  }

  .pre-order-text-info {
    max-width: 30.7rem;
  }

  .pre-order-info {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .singer-profile-wrap:after {
    display: none;
  }

  .singer-list-wrap {
    padding-bottom: 5.6rem;
  }
}

@media all and (max-width: 768px) {

  .singer-list__padding-v1,
  .singer-list__padding-v2 {
    padding-left: 0;
  }
}

@media all and(max-width:740px) {
  .pre-order-info {
    flex-direction: column;
    align-items: center;
  }

  .pre-order-text-info {
    margin-top: 9rem;
  }

  .pre-order-text-info {
    max-width: unset;
  }
}

@media all and (max-width: 720px) {
  .singer-pic {
    width: 23.8rem;
    height: 36.6rem;
  }

  .modal-success-wrap {
    text-align: center;
  }

  .modal-pic {
    display: none;
  }

  .form-bet {
    padding-left: 2.5rem;
    padding-right: 2.6rem;
  }

  .form-bet-wrap {
    padding-left: 0;
    padding-top: 16.8rem;
    padding-bottom: 5.3rem;
  }

  .modal-text {
    max-width: unset;
  }


}

@media all and (max-width: 680px) {
  .main-phrase-item {
    font-size: 5.1rem;
  }



  .modal-success-wrap {
    padding-top: 15.7rem;
  }

  .success-text {
    font-size: 3.5rem;
  }

  .fancybox-close-small {
    width: 100%;
    height: 6rem;
  }

  .phone-modal {
    max-width: unset;
    width: 100%;
  }

  .form-bet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-bet__margin-phone {
    width: 100%;
  }

  .social-list {
    width: 100%;
    text-align: center;
  }

  .social-link {
    justify-content: center;
  }

  .pic-background:before {
    display: block;
    top: 2.4rem;
  }

  .pre-order-wrap {
    padding-top: 3.4rem;
    padding-bottom: 8.4rem;
  }

  .ya-pic {
    width: 11.7rem;
    height: 2.15rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .main-info__margin-phrase {
    padding-top: 8.2rem;
  }

  .video-link-pic {
    width: 100%;

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .pre-order-pic {
    width: 28rem;
    height: 28rem;
  }

  .pic-background {
    top: 2.1rem;
    left: -4.2rem;
  }

  .video-headline {
    font-size: 6rem;
  }

  .about-text-wrap {
    max-width: unset;
    min-height: unset;
    padding: 4rem 2rem 7.8rem;
    margin-top: -2.2rem;
  }

  .link-btn {
    width: 13.1rem;
    height: 13.1rem;
  }

  .play-svg {
    width: 3.3rem;
    height: 3.3rem;
  }

  .about-video-headline {
    position: absolute;
    right: auto;
    top: -4rem;
    left: 2rem;
    opacity: 0.4;
  }

  .video-main-wrap__padding-text {
    padding-left: 0;
  }

  .video-main__margin-content {
    margin-top: 4.7rem;
    padding-bottom: 13.0rem;
  }

  .footer-list-wrap {
    flex-direction: column;
  }

  .footer-list-item {
    max-width: unset;
  }

  .footer-wrap {
    padding-top: 5.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-pic {
    position: static;
  }

  .footer-list-item {
    margin-bottom: 4.7rem;
  }

  .about-text-item {
    max-width: unset;
  }

  .about-video-item {
    top: auto;
  }

  .about-video-item {
    position: relative;
  }

  .sub-phrase {
    font-size: 5.1rem;
  }

  .sub-phrase p:after {
    height: 7.1rem;
    left: -2.2rem;
    right: -2.2rem;
    border-radius: 140rem/409px;
    top: -3.5rem;
  }

  .main-phrase-wrap__margin-content {
    margin-top: 9.5rem;
  }

  .about-singer .wrapper {
    padding-right: 2rem;
  }

  .singer-pic {
    position: static;
  }

  .about-singer-info {
    max-width: unset;
  }

  .about-singer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-right {
    li {
      &:first-child {
        display: none;
      }
    }
  }

  .auction-main__margin-content {
    margin-top: 6.4rem;
  }

  .auction-wrap-string {
    font-size: 5.3rem;
  }

  .auction-wrap-string p,
  .auction-wrap-string span {
    margin-left: 1rem;
  }

  .auction-wrap-string .v2 {
    -webkit-text-stroke-width: 1px;
  }

  .singer-photo {
    width: 28rem;
    height: 16.2rem;
  }

  .singer-photo img {
    object-fit: cover;
  }

  .singer-profile-wrap {
    width: 100%;
    flex-direction: column;
  }

  .singer-profile__margin-content {
    margin-left: 0;
  }

  .singer-info {
    max-width: 28rem;
  }

  .singer-profile {
    width: 100%;
  }

  .singer-position {
    font-size: 2.4rem;
    margin-top: 2.4rem;
  }

  .singer-name {
    font-size: 3.6rem;
  }

  .about-singer {
    margin-top: 1.1rem;
    font-size: 1.4rem;
  }

  .singer-bet {
    font-size: 2rem;
    margin-top: 2.8rem;
  }

  .singer-profile {
    margin-bottom: 3.7rem;
  }

  .singer-profile:nth-child(2) {
    right: auto;
  }

  .singer-list__padding-v1 {
    padding-left: 0;
  }

  .singer-list-item {
    margin-bottom: 5.7rem;
  }


}

@media all and (max-width:480px) {
  .form-headline {
    font-size: 3.5rem;
  }

  .modal-wrap {
    overflow: hidden;
  }

  .form-bet__margin-bet {
    position: relative;
    height: 5.6rem;
    width: 100%;
  }

  .input-bet {
    width: 10rem;
    margin-left: .3rem;
  }

  .bet-label {
    font-size: 1.4rem;
    padding: 1.8rem 3.4rem;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;

  }


}