.modals {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  display: none;
}

.fancybox-content {
  padding: 0;


}

.modals-bet {
  max-width: 160rem;
  width: 100%;
}

.modal-wrap {
  display: flex;
}

.form-bet-wrap {
  padding-top: 12.3rem;
  padding-left: 7rem;
}

.form-headline {
  font-size: 7rem;
  color: #D66C87;
}

.form-bet {
  &__margin-bet {
    margin-top: 4rem;
  }

  &__margin-text {
    margin-top: 3.6rem;
  }

  &__margin-phone {
    margin-top: 5.6rem;
  }

  &__margin-social {
    margin-top: 4rem;
  }

  &__margin-btn {
    margin-top: 6.8rem;
  }
}

.bet-label {
  font-size: 2rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(22, 20, 20, 0.7);
  padding: 2.2rem 3.4rem;
  border: 2px solid #161414;
  display: inline-block;
  width: min-content;
  white-space: nowrap;
}

.input-bet {
  display: inline;
  white-space: nowrap;
  width: min-content;
  margin-left: 1rem;
  text-align: right;
}

.modal-text {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 200%;
  color: rgba(22, 20, 20, 0.7);
  max-width: 64.1rem;
}

.phone-modal {
  display: inline-block;
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid #161414;
  max-width: 32rem;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  color: #D66C87;

  &::placeholder {

    color: #161414;
    opacity: 0.6
  }

  &:focus,
  &:active {
    border-bottom: 1px solid #D66C87;
  }
}

.social-svg {
  fill: #000000;
  width: 4rem;
  height: 4rem;
  transition: fill .3s ease-in-out;
}

.social-link {
  display: flex;
  align-items: center;
  margin-top: 1.8rem;

  li {
    margin-right: 3rem;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    &:hover {
      .social-svg {
        fill: #D66C87;
      }
    }
  }
}

.social-list {
  font-size: 2.5rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #161414;
}

.btn-sbmt {
  width: 31.3rem;
  height: 7rem;
  background: #161414;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 4.1rem;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #E0DBDB;
  white-space: nowrap;
  position: relative;
  transition: background .2s ease-in-out, color .2s ease-in-out;

  .arrow-svg {
    stroke: white;
    width: 3.6rem;
    height: .9rem;
    position: absolute;
    right: 3rem;
    top: 50%;
    margin-top: -.45rem;
    transition: width .2s ease-in-out;
  }

  &:hover {
    background: #D66C87;
    color: #fff;

    .arrow-svg {}
  }

}

.fancybox-close-small {
  width: 10rem;
  height: 10rem;
  background: #D66C87;
  opacity: 1;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #161414;
  }
}

.fancybox-slide--html .fancybox-close-small {
  padding: 25px;
  color: white;
}

.modal-pic {
  width: 60.5rem;
  height: 100rem;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.62) 100%);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.input-bet {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.modals-success {
  max-width: 160rem;
  width: 100%;
  background: #F4F4F4;
  height: 100vh;
}

.modal-success-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 25.5rem;
  align-items: center;
  padding-bottom: 5rem;
}

.success-text {
  font-size: 7rem;
  color: #D66C87;
  margin-top: 7.7rem;
}

.success-subtext {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 200%;
  color: #161414;
  opacity: 0.7;
  margin-top: 4.1rem;
}