.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._arrow {
    	font-size:(11/10)*1rem;
    	width:(24/11)*1em;
    }
    &._facebook {
    	font-size:(40/10)*1rem;
    	width:(40/40)*1em;
    }
    &._play {
    	font-size:(48/10)*1rem;
    	width:(41/48)*1em;
    }
    &._together {
    	font-size:(115/10)*1rem;
    	width:(800/115)*1em;
    }
    &._vk {
    	font-size:(40/10)*1rem;
    	width:(40/40)*1em;
    }
}