.main-phrase-wrap {
  &__margin-content {
    margin-top: 6.5rem;
    margin-right: 13rem;
  }
}

.sub-phrase {
  font-weight: bold;
  font-size: 14rem;
  line-height: 86.7%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;

  p {
    display: block;
    position: relative;

    &:after {
      position: absolute;
      top: -3rem;
      left: -7.4rem;
      right: -7.4rem;
      height: 20.2rem;

      padding-right: 7.4rem;
      content: '';
      border: .4rem solid #D66C87;
      border-radius: 345px/109px;

      text-transform: uppercase;
      color: #f04d22;

    }
  }
}

.about-singer {
  &__margin-content {
    padding-top: 8.8rem;
    min-height: 55rem;
  }
}

.about-singer-info {
  max-width: 56.8rem;
  width: 100%;
  color: #F2F2F2;

  h4,
  h3,
  h5 {
    font-weight: 600;
    font-size: 4.8rem;
    text-transform: uppercase;

  }

  p,
  span {
    margin-top: 3.4rem;
    font-size: 1.4rem;
    line-height: 170%;
    letter-spacing: 0.06em;
  }
}

.about-singer-wrap {
  position: relative;

}

.singer-info {
  max-width: 34.1rem;
  z-index: 2;
}

.main-phrase-item {
  font-weight: bold;
  font-size: 14rem;
  line-height: 86.7%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: #1C1C1C;


}

.singer-pic {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 40rem;
  height: 59.8rem;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.auction-main {
  &__margin-content {
    margin-top: 11.2rem;
    margin-bottom: 13rem;
  }
}

.auction-wrap-string {
  font-weight: bold;
  font-size: 15.8rem;
  line-height: 86.7%;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  .v1 {
    color: #E0DBDB;
  }

  .v2 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E0DBDB;
  }

  p,
  span {
    margin-left: 2rem;

    &:last-child {
      margin-right: 2rem;
    }

  }
}

.singer-photo {
  width: 34.6rem;
  height: 48.3rem;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    transform: rotate(-15deg);
    z-index: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.singer-list {
  &__padding-v1 {
    padding-left: 6.6rem;
  }

  &__padding-v2 {
    padding-left: 2.1rem;
  }
}

.singer-list-item {
  width: 100%;
  position: relative;
  margin-bottom: 29rem;
}

.singer-profile-wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;

  &:after {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 6rem;
    left: -7.4rem;
    right: -5.4rem;
    bottom: 1rem;
    padding-right: 7.4rem;
    content: '';
    border: .3rem solid #D66C87;
    border-radius: 519px/235px;
    transform: rotate(-15deg);
    text-transform: uppercase;
    color: #f04d22;
    height: 38.4rem;
    z-index: -1;
  }
}

.singer-profile {

  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  z-index: 1;

  &:nth-child(2) {
    position: absolute;
    bottom: -80%;
    right: 3.7rem;
  }



  &:hover {
    .singer-profile-wrap {
      &:after {
        opacity: 1;
      }
    }

    cursor: url('/assets/img/cursor2.svg'), auto;


    .singer-photo {
      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
  }

  &__margin-content {
    margin-left: 4.4rem;
  }
}

.singer-position {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #B5B5B5;
}

.singer-name {
  font-weight: 600;
  font-size: 4.8rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #161414;
  margin-top: 1rem;
}

.about-singer {
  font-size: 1.4rem;
  line-height: 200%;
  letter-spacing: -0.04em;
  color: rgba(22, 20, 20, 0.7);
  margin-top: 1rem;
}

.singer-list-wrap {
  max-width: 160rem;
  width: 100%;
  margin: auto;
  padding-bottom: 19.6rem;
}

.singer-bet {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #161414;
  margin-top: 2.4rem;
  display: flex;
  align-items: center;

  .arrow-svg {
    width: 2.2rem;
    height: .9rem;
    fill: #000000;
    stroke: #000000;
    margin-left: 1.5rem;
  }
}

.pre-order {
  background: #FFFFFF;

}



.pre-order-text {
  font-weight: 600;
  font-size: 14.4rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #161414;
  z-index: -1;

  p {
    display: inline;
  }

  .point {
    color: #FAB725;
  }
}

.pre-order-pic {
  width: 56.4rem;
  height: 56.4rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    position: relative;
  }
}

.pic-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(249, 180, 36, 0.7);
  top: 4.6rem;
  left: -8.6rem;
  z-index: 0;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(249, 180, 36, 0.4);
    top: 4.5rem;
    left: -8.5rem;
  }

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(249, 180, 36, 0.2);
    top: 9.1rem;
    left: -17rem;
  }
}

.pre-order-info {
  max-width: 109rem;
  width: 100%;
  margin: auto;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.pre-order-wrap {
  padding-top: 3.4rem;
  padding-bottom: 20.4rem;

  &__margin-content {
    margin-top: -22rem;
  }
}

.pre-order-text-info {
  max-width: 44.6rem;
  width: 100%;
  font-size: 1.4rem;
  line-height: 200%;
  letter-spacing: -0.04em;
  color: rgba(22, 20, 20, 0.7);
  position: relative;
}

.link-yandex {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #161414;
  position: absolute;
  left: 0;
  bottom: -4.6rem;

}

.link-yandex-item {
  display: flex;
  align-items: center;

  .arrow-svg {
    width: 1.75rem;
    height: .5rem;
    fill: #000000;
    stroke: #000000;
    margin-right: 1.1rem;
  }
}

.ya-pic {
  margin-left: 1.7rem;

  img {
    object-fit: contain;
  }
}



.video-main-wrap {


  &__padding-text {
    padding-left: 8.6rem;
  }
}

.video-main {
  max-width: 160rem;
  width: 100%;
  margin: auto;

  &__margin-content {
    margin-top: 4.7rem;
    padding-bottom: 23.6rem;
  }
}

.video-headline {
  font-weight: 600;
  font-size: 9.6rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #E0DBDB;
  z-index: 0;
  position: relative;
}

.about-text-wrap {
  z-index: 1;
  position: relative;
  max-width: 86.4rem;
  margin-top: -3.2rem;
  width: 100%;
  min-height: 76.9rem;
  padding-top: 6.7rem;
  padding-right: 6.2rem;
  font-size: 1.4rem;
  line-height: 200%;
  letter-spacing: -0.04em;
  color: rgba(251, 251, 251, 0.7);
  background: #D66C87;
  display: flex;
  justify-content: flex-end;

}

.about-text-item {
  max-width: 62rem;
  height: min-content;
}

.about-video {
  height: min-content;
  position: relative;
}

.about-main {
  position: relative;
}

.about-video-item {
  position: absolute;
  top: 31.1rem;
  right: 0;
  max-width: 123rem;
  width: 100%;
  margin: auto;
  z-index: 23;
  left: 50%;
  transform: translate(-50%, 0%);
}

.about-video-headline {
  position: absolute;
  right: 0;
  top: -6rem;
}

.video-link {
  display: block;
  width: 100%;
  z-index: 23;
  position: relative;
}

.sub-video-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -28.9rem;
}

.sub-video {
  background: #F9DF91;
  max-width: 105rem;
  width: 100%;
  height: 61.1rem;
  position: relative;
  right: 0;
}

.link-btn {
  position: absolute;
  width: 21.3rem;
  height: 21.3rem;
  border-radius: 50%;
  background: #D66C87;
  left: -3.2rem;
  bottom: -3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-svg {
  width: 5.4rem;
  height: 5.4rem;
  stroke: #F9DF91;
  stroke-width: .2rem;
  fill: none;
}