@import url('fonts/Fontello/css/fontello.css');

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Manrope', 'fonts/manrope-regular', 400);
@include font-face('Manrope', 'fonts/manrope-medium', 500);
@include font-face('Manrope', 'fonts/manrope-semibold', 600);
@include font-face('Manrope', 'fonts/manrope-bold', 700);